# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/

# Environment variables
.env
.env.*

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# PyInstaller
build/
dist/
*.spec
